@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #2c4d4f;          /* Teal Profundo: Estabilidade e sofisticação */
  --primary-hover: #375f62;    /* Variação para estados de hover */
  
  --secondary: #d9b48f;        /* Bege/Dourado Metalizado: Toque de luxo/VIP */
  
  --accent: #e65f33;           /* Terracota/Disco de Acreção: Botões de conversão e CTAs */
  --accent-hover: #ff7346;     /* Variação ativa/hover do ponto de foco */


  --neutral-900: #06080c;      /* Background Principal (O "Vazio" do Horizonte de Eventos) */
  --neutral-800: #141b27;      /* Background dos Cards e Modais (Contraste otimizado) */
  --neutral-700: #243146;      /* Bordas, Divisores de tabelas e inputs desativados */
  --neutral-600: #334155;      /* Elementos secundários de UI (ex: ícones decorativos) */


  --text-primary: #f8fafc;     /* Títulos, saldos e textos de leitura crítica (Contraste Máximo) */
  --text-secondary: #94a3b8;   /* Subtítulos, labels de formulários e descrições menores */
  --text-muted: #475569;       /* Placeholders e textos desativados (disabled) */


  --success: #10b981;          /* Verde Esmeralda: Pix enviado, depósito concluído, lucro */
  --success-surface: #042f22;  /* Fundo sutil para alertas de sucesso */
  
  --error: #ef4444;            /* Vermelho Cirúrgico: Cartão recusado, saldo insuficiente */
  --error-surface: #450a0a;    /* Fundo sutil para alertas de erro */
  
  --warning: #f59e0b;          /* Âmbar: Fatura vencendo hoje, limite quase atingido */
  --warning-surface: #451a03;  /* Fundo sutil para alertas de aviso */
  
  --info: #3b82f6;             /* Azul Cyber: Notificações gerais, atualizações do app */
  --info-surface: #1e3a8a;     /* Fundo sutil para informativos */


  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/*RESET*/
* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}
/*RESET*/

input.border-0:focus {
  outline: 0;
  box-shadow: none;
  border-bottom: 3px solid var(--neutral-700) !important;
}

.mainPage {
  width: 100vw;
  height: 100vh;
  background-color: var(--neutral-900);

  font-style: "Roboto";
  color: var(--text-primary);
}

a {
  color: var(--text-secondary);
  text-decoration: none;
}

button {
  background-color: var(--primary);
  color: var(--text-primary);
  border-radius: 0.375rem;
  padding: 0.375rem;
}

button:hover {
  background-color: var(--primary-hover);
  transition: background-color 500ms;
}

input.border-0 {
  border-color: var(--neutral-700) !important;
}